.content {
    width: min(95%, 1080px);
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .pb {
    width: 100%;
    background-color: #fffafa;
}

.isi {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    background-color: #fffafa;
}

.isi .user-details {
    flex: 2;
    color: black;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.isi .foto {
    flex: 1;
    background-color: #fffafa;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
    flex-direction: column;
}
.container {
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: white;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    color: #030005;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    background: #fffafa;
}

.user-details {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.user-details {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
tr {
    padding: 1rem;
}

table {
    border-spacing: 1rem;
    max-width: inherit;
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    border: 1px solid #999;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 100;
    font-size: 10pt;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #fffafa;
}

form .gender .gender-title {
    font-size: 20px;
    font-weight: 500;
}

.category {
    display: flex;
    gap: 1rem;
}
form .gender .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender .category label {
    display: flex;
    align-items: center;
}

.gender .category .dot {
    height: 18px;
    width: 18px;
    border: 1px solid #999;
    background: #fffafa;
    border-radius: 50%;
    margin-right: 10px;
}

input[type="radio"] {
    display: none;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three {
    border: 1px solid black;
    background: linear-gradient(135deg, #10ba51, #13a34a);
}

form input [type="radio"] {
    display: none;
}

button {
    background: #3d8361;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    color: #fffafa;
    cursor: pointer;
    transition: filter 0.4s;
}

button:hover {
    filter: brightness(0.9);
}

#input-file {
    background: #3d8361;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    color: #f7f7f7;
    cursor: pointer;
    transition: filter 0.4s;
}

#input-file:hover {
    filter: brightness(0.9);
}

.foto img {
    width: min(60%, 500px);
    height: auto;
}

@media (max-width: 768px) {
    .isi {
        flex-direction: column-reverse;
    }
    .foto img {
        width: min(30%, 500px);
        height: auto;
    }
    tr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.1rem;
    }

    tr td:last-child {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
