.content {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .pb{
    width: 100%;
    background-color: bisque;
}

.isi{
    width: 1080px;
    display: flex;
    flex-direction: row;
}

.isi .user-details{
    /* width : 800px; */
 
    background-color: #fff;
    flex: 2;
    color: black;
}

.isi .foto{
    /* width :280px; */
    flex: 1;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: white;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    color: #030005;
    position: relative;
}

.container .title::before{
    content:'';
    position: absolute;
    height: 3px;
    width: 30px;
    background: white ;
}

.user-details{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

tr {
    padding: 1rem;    
}

table{
    border-spacing: 1rem;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: white;
}

form .gender .gender-title{
    font-size: 20px;
    font-weight: 500;
}

.category{
    display: flex;
    gap: 1rem;
}
form .gender .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender .category label{
    display: flex;
    align-items: center;
}

.gender .category .dot{
    height: 18px;
    width: 18px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
}

input[type='radio']{
    display: none;
}

 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
    border: 1px solid black;
    background: linear-gradient(135deg,#10ba51,#13a34a );
}

    form input [type = "radio"]{
        display: none;   
}
form .button{
    height: 45px;
    margin: 45px 0;
    width:100px;
    opacity: 1;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    opacity: 1;
    font-size: 1;
    background: linear-gradient(135deg,#030005,#3D0863 ); ;
}

.input-file::-webkit-file-upload-button {
    visibility: hidden;
  }
  .input-file::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  .input-file:hover::before {
    border-color: black;
  }
  .input-file:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
